$text-color: #012d61;
$green-color: #00c4bc;
$white-color: #ffffff;
$red-color: red;
$header-dashboard-color: #979797;
$box-shadow-color: rgba(0, 0, 0, 0.23);
$background-color: rgba(0, 196, 188, 0.49);
$text-font: Merriweather, serif;
$header-font: Raleway, sans-serif;

.dashboard {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  height: 100vh;

  .header {
    margin: 0px;
    padding: 1px;
    width: 100%;
    flex: 0 0 100px;
    background-color: $background-color;
    border: solid 1px $header-dashboard-color;

    .konnekt-logo {
      height: 70px;
      max-width: 219px;
      width: 100%;
      margin: 15px 0px 0px 15px;
      background-image: url('images/logo-feher-hosszu.png');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .buttons {
    flex: 0 0 40px;
    width: 100%;
    padding-top: 45px;
    padding-left: 5%;
    padding-bottom: 45px;
    background-color: white;

    .button {
      border: solid 2px $green-color;
      display: inline-block;
      width: 165px;
      height: 40px;
      transition: 0.2s;

      &:hover {
        background-color: rgba(0, 195, 187, 0.3);
        transition: 0.2s;
        display: inline-block;
      }

      .text {
        font-family: $header-font;
        font-size: 16px;
        text-align: center;
        margin: 0px;
        padding: 10px 0px 0px 45px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        color: $text-color;
      }
    }

    .icon-add {
      background: url('images/add.svg');
      background-repeat: no-repeat;
      background-position: 15px center;
      background-size: 29px;
    }

    .icon-logout {
      background: url('images/logout.svg');
      background-repeat: no-repeat;
      background-position: 15px center;
      background-size: 29px;
    }
  }

  .header-container {
    width: 100%;
    flex: 0 0 30px;
    background-color: white;
  }

  .table-container {
    width: 100%;
    flex: 1;
    overflow: scroll;
    background-color: white;

    .table-content {
      border: solid 2px $green-color;
      flex: 1;
      margin-bottom: 10px;
      overflow: scroll;

      tr {
        &:nth-child(odd) {
          background-color: rgba(0, 195, 187, 0.3);
          transition: 0.2s;
        }

        &:nth-child(even) {
          background-color: $white-color;
          transition: 0.2s;
        }

        &:hover {
          background-color: $green-color;
          transition: 0.2s;
          transform: translateX(-1px);
        }
      }
    }
  }

  table {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 900px;
    width: 90%;
    background-color: white;

    tbody {
      flex: 1;
    }

    tr {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;

      th {
        flex: 1;
        margin: 0px 0px 0px 20px;
        padding: 0px;
        font-family: $text-font;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $text-color;
        border: none;
      }

      td {
        align-items: center;
      }

      .row1 {
        flex: 0 1 250px;
        width: 100%;
        height: 100%;
      }

      .row2 {
        flex: 0 1 320px;
        height: 100%;
        width: 100%;
      }

      .row3 {
        flex: 0 1 250px;
        height: 100%;
        width: 100%;
      }

      .row4, .row5 {
        flex: 0 0 30px;
        height: 20px;
        width: 100%;
      }
    }
  }

  .edit {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('images/pen.svg');
  }

  .delete {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('images/bin.svg');
  }

  .mail {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('images/mail.svg');
  }
}
