.rectangle {
	margin: 0px auto;
	width: 388px;
	height: 459px;
	opacity: 0.9;
	background-color: #00c4bc;
}

.r-e-g-i-s-z-t-r-l-j {
	margin: 0px;
	padding: 50px 30px 0px 30px;
	width: 328px;
	height: 42px;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.dv-a-konnekt-kontak {
	padding: 0px;
	margin: 0px 89px 25px 89px;
	font-family: 'Merriweather', serif;
	width: 210px;
	height: 15px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #012d61;
}

.rectangle-input {
	margin: 15px 30px 0px 30px;
	padding: 0px;
	width: 328px;
	height: 47px;
	background-color: #ffffff;
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
}

.rectangle-button {
	margin: 32px 123px 0px 123px;
	padding: 0px;
	width: 142px;
	height: 47px;
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
	border: solid 2px #ffffff;
	background-color: #00c4bc;
	text-align: center;
}

.m-e-h-e-t {
	margin: 0px;
	padding: 0px 0px 0px 9px;
	width: 123px;
	height: 29px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #012d61;
}

.inkbb-belpnk {
	margin: 12px 0px 0px 139px;
	width: 110px;
	height: 15px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

input {
	width: 314px;
	height: 43px;
	padding: 0px 5px 0px 5px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

/*placeholder for MS, Firefox 19+, Firefox 18-, Chrome*/
::-webkit-input-placeholder {

	width: 78px;
	height: 15px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

:-ms-input-placeholder {
	width: 78px;
	height: 15px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

::-moz-placeholder {
	width: 78px;
	height: 15px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

:-moz-placeholder {
	width: 78px;
	height: 15px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

a {
	color: #012d61;
}
