.rectangle {
	width: 388px;
	height: 459px;
	opacity: 0.9;
	background-color: #00c4bc;
}

.r-e-g-i-s-z-t-r-l-j {
	width: 328px;
	height: 42px;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.dv-a-konnekt-kontak {
	width: 186px;
	height: 15px;
	font-family: Merriweather;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}
