body {
  margin: 0px auto;
  height: 100vh;
  box-sizing: border-box;
  background-image: url('images/konnekt-team.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-dashboard {
  display: block;
  margin: 0px auto;
  height: 100vh;
  overflow: hidden;
}

.konnekt-logo {
  flex: 0 1 70px;
  max-width: 219px;
  margin-bottom: 29px;
  width: 100%;
  background-image: url('images/logo-feher-hosszu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.konnekt-logo-background {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100px;
  opacity: 0.49;
  background-color: #00c4bc;
  border: solid 1px #979797;
}

.konnekt-logo-dashboard {
  height: 70px;
  max-width: 219px;
  width: 100%;
  margin: 15px 0px 0px 15px;
  background-image: url('images/logo-feher-hosszu.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


.dashboard-container {
  width: 100%;
  background-color: white;
  height: 90%;
  overflow: scroll;
}

.dashboard-table {
  margin: 0px auto;
  padding-top: 45px;
  max-width: 900px;
  width: 90%;
}

.table {
  border: solid 2px #00c4bc;
}

.table-header {
  padding-top: 30px;
}

.table-header, .table-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.add-new-contact {
  height: 40px;
  width: 165px;
  background-image: url('images/newcontact.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-row1 {
  flex: 0 1 250px;
  height: 100%;
}

.table-row2 {
  flex: 0 1 320px;
  height: 100%;
}

.table-row3 {
  flex: 0 1 250px;
  height: 100%;
}

.table-row4 {
  flex: 0 0 30px;
  height: 20px;
  background-image: url('images/pen.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.table-row5 {
  flex: 0 0 30px;
  height: 20px;
  background-image: url('images/bin.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.table-row4-header {
  flex: 0 0 30px;
  height: 20px;
}

.table-row5-header {
  flex: 0 0 30px;
  height: 20px;

}

.table-p-name {
  font-family: Raleway, sans-serif;
  margin: 20px 10px 20px 20px;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #012d61;
}

.table-p-desc {
  font-family: Raleway;
  margin: 20px 10px 20px 20px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #012d61;
}

.table-p-whoes {
  font-family: Raleway;
  font-size: 16px;
  margin: 20px 10px 20px 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #012d61;
}

.dashboard-list {
  margin: 0px auto;
  width: 780px;
  height: 100%;
  border: solid 2px #00c4bc;
}

.form-container {
	opacity: 0.9;
  flex: 0 1 auto;
  max-width: 388px;
  width: 100%;
  background-color: #00c4bc;
}

.table-header-p {
  margin: 0px 0px 10px 20px;
  padding: 0px;
  font-family: Merriweather, serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #012d61;
  border: none;
}

.table-data:nth-child(odd) {
  background-color: rgba(0, 195, 187, 0.3);
}

.table-data:nth-child(even) {
  background-color: white;
}


.header-text {
  margin: 0px;
	padding-top: 50px;
	height: 42px;
	font-family: Raleway, sans-serif;
	font-size: 36px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

form {
  margin-top: 15px;
}

.welcome-text  {
  margin: 0px;
	padding-bottom: 25px;
	font-family: Merriweather, serif;
	height: 15px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #012d61;
}

.register-button, .login-button {
  margin: 0 auto;
  display: block;
	width: 142px;
	height: 47px;
	border: solid 2px #ffffff;
	background-color: #00c4bc;
  transition: 0.2s;
}

.register-button:hover, .login-button:hover {
  background-color: #ffffff;
  transition: 0.2s;
}

.button-text {
	margin: 0px;
	font-family: Raleway, sans-serif;
	font-size: 24px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
  text-transform: uppercase;
	color: #012d61;
}

.footer-text {
	margin: 12px 0px 50px 0px;
	font-family: Merriweather, serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #012d61;
}

input {
  box-sizing: border-box;
  border: none;
  display: block;
  max-width: 328px;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 15px;
  padding: 0px 5px 0px 13px;
	height: 46px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
	font-family: Merriweather, serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

/*placeholder for MS, Firefox 19+, Firefox 18-, Chrome*/
::-webkit-input-placeholder {

	height: 100%;
	font-family: Merriweather, serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

:-ms-input-placeholder {
	font-family: Merriweather, serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

::-moz-placeholder {
	font-family: Merriweather, serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

:-moz-placeholder {
	font-family: Merriweather, serif;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #012d61;
}

h1 {
  text-transform: uppercase;
}

a {
	color: #012d61;
  text-decoration: none;
  border-bottom: 1px solid white;
}

a:hover {
  color: white;
}

h2 {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 42px;
  float: right;
  margin-right: 50px;
  margin-top: 60px;
}
