$mainColour: pink;

body {
  background-color: white;
  font-family: sans-serif;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  height: 700px;
}

#form {
  height: 100%;
  padding: 50px;
  margin: 0px;
}

p {
  color: $mainColour;
}

h1 {
  color: $mainColour;
}

input {
  width: 60%;
  margin: 20px;
}

.login-form {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  background-color: white;
  opacity: 0.8;
  width: 600px;
  height: 320px;
  border-radius: 10px;
  border: 1px solid $mainColour;
}

.button {
  background-color: $mainColour;
}
