<div class="popup body-container">
  <div class="popup body-container">
    <div class="popup form-container">
      <h1>{{ header }}</h1>
      <p class="popup welcome-text">{{ welcome }}</p>
      <p class="popup error-text">{{ errormessage }}</p>
      <form class="popup form" ng-submit="editContact()">
        <input type="text" placeholder="{{editName}}" ng-model="editName">
        <textarea class="description" rows="3" ng-model="editDescription">{{ editDescription }}</textarea>
        <button class="login-button">
          <p class="popup button-text">{{ button }}</p>
        </button>
      </form>
    </div>
  </div>
</div>
