<!DOCTYPE html>
<html lang="en" ng-app="loginForm">
   <head>
      <meta charset="utf-8">
      <title>KNNKT</title>
      <script src="./dist/bundle.js"></script>
   </head>
   <body>
      <div ng-controller="loginController">
         <p>{{message}}</p>
         <form>
            <input type="text" placeholder="USERNAME" ng-model="credentials" />
            <input type="text" placeholder="PASSWORD" ng-model="credentials" />
            <button ng-click="submit">LOGIN</button>
         </form>
      </div>
   </body>
</html>
