<!DOCTYPE html>
<html>
<div class="popup body-container">
  <div class="popup body-container">
    <div class="popup konnekt-logo"></div>
    <div class="popup form-container">
      <h1 class="header-text">{{ header }}</h1>
      <p class="popup welcome-text">{{ welcome }}</p>

      <form class="popup form" ng-submit="addNewMember()">
        <input type="text" placeholder="e-mail címed:" ng-model='newUser.email' novalidate>
        <input type="password" placeholder="jelszavad:" ng-model='newUser.password'>
        <input type="password" placeholder="jelszavad mégegyszer:" ng-model='newUser.passwordConfirmation'>
        <button class="popup button">
          <p class="popup button-text">{{ button }}</p>
        </button>
      </form>
      <p class="popup footer-text">(Inkább <a href="#!/login">belépnék</a>)</p>
    </div>
  </div>
</div>
</html>
